.socials {
    margin-top: 12px;
    height: 3em;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials a {
    height: 2.1rem;
    width: 2.1rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
}

.socials a:hover {
    border: 2px solid var(--very-bright-blue);
}

.socials-icon {
    color: #fff;
    font-size: 1.5rem;
    transition: color .3s ease;
}

.icon-hovered {
    color: var(--very-bright-blue);
}