

.skills {
    width: 100%;
    position: relative;
    padding: 4.8rem;
    background-color: transparent;
    color: white;
}

.skills h1 {
    font-weight: bolder;
    font-size: 64px;
    margin-bottom: 48px;
}

.container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {
    .skills h1 {
        font-weight: bolder;
        font-size: 36px;
        margin-bottom: 48px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container > * {
        margin-bottom: 24px;
        width: 80%;
    }
}