.projects {
    width: 100%;
    background-color: #000;
    position: relative;
    padding: 6rem 8rem;
    color: white;
}

.header {
    margin-bottom: 4rem;
}

.header h1 {
    color: var(--very-bright-blue);
}

.container {
    width: 100%;
}



@media only screen and (max-width: 576px) {
    .projects {
        padding: 6rem 2rem;
    }
}