.navbar {
    background-color: #071a33;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fullName {
    font-weight: bolder;
    font-size: 1.6em;
    color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.nav-links > li {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    height: 100%;
    width: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links > li:hover {
    color: #3282B8;
    border-bottom: 1px solid #3282B8;
    cursor: pointer;
}

.nav-links li > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
}
