.navbar {
    background-color: var(--nav-background);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fullName {
    font-weight: bolder;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.nav-links > li {
    font-size: 0.75rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    transition: color 0.3s ease, font-size 0.3s ease;
    height: 100%;
    width: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links > li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-blue);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.nav-links > li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-links > li:hover {
    color: var(--main-blue);
    font-size: 0.8rem;
    cursor: pointer;
}

.nav-links li > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.sidebar {display: none;}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .sidebar {
        display: inline;
    }

    .sidebarIcon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .sidebarIcon:hover {
        opacity: 50%;
    }

    .sidebarIconHide {
        display: none;
    }

    .sidebar img {
        display: block;
        width: 24px;
        height: 24px;
        
    }

    .sidebarLinks {
        width: 0;
        transition: width 0.5s ease;
    }

    .sidebarLinks[show='hide'] * {
        display: none;
    }

    .sidebarLinks[show='show'] {
        position: fixed;
        right: 0;
        top: 0;
        color: #fff;
        width: 100%;
        max-width: 480px;
        height: 100%;
        background-color: #071a33;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebarLinks li{
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #0B2447;
        font-size: 2rem;
        list-style-type: none;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .sidebar ul {
        padding: 0;
    }

    .sidebarLinks li:hover, .sidebarLinksOpen li:hover {
        background-color: #0a2140;
    }
}
