.navbar {
    background-color: #071a33;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fullName {
    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.nav-links > li {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    height: 100%;
    width: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links > li:hover {
    color: #3282B8;
    border-bottom: 1px solid #3282B8;
    cursor: pointer;
}

.nav-links li > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.sidebar {display: none;}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .sidebar {
        display: inline;
    }

    .sidebarIcon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .sidebarIcon:hover {
        opacity: 50%;
    }

    .sidebarIconHide {
        display: none;
    }

    .sidebar img {
        display: block;
        width: 24px;
        height: 24px;
        
    }

    .sidebarLinks {
        position: fixed;
        right: 0;
        top: 0;
        color: #fff;
        width: 0;
        height: 100%;
        background-color: #071a33;

        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .sidebarLinksOpen {
        position: fixed;
        right: 0;
        top: 0;
        color: #fff;
        width: 40%;
        height: 100%;
        background-color: #071a33;

        display: flex;
        flex-direction: column;
        align-items: center;

        transition: 0.5s;
    }

    .sidebarLinks li, .sidebarLinksOpen li {
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #0B2447;
    }

    .sidebarLinks li:hover, .sidebarLinksOpen li:hover {
        background-color: #0a2140;
    }
}
